[Desktop Entry]
Version=1.0
Type=Application
Name=Chris Rorden's MRI tutorial
Comment=
Exec=xdg-open "~/tutorial/sampledata/index.html"
Icon=tutorials.png
Categories=Neuroimaging;
StartupNotify=true
Terminal=false
NoDisplay=false


